.MovieCard {
    height: 350px;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    display: grid;



}

.titleLight {
    text-align: center;
    color: darkblue;
}

.titleDark {
    text-align: center;
    color: white;
}